p{
    margin-top: 0;
    line-height: 2;
}



.program-projects{
    margin-top: 0;
    background-color: azure;
    padding: 20px 0 10px;
}

.pp1{
    margin-top: 20px;
}

.pp2{
    margin-top: 50px;
}

.design-projects-wrapper{
    background-color:#d8ebb5;
    padding: 20px 0 20px;
}

.design-projects{
    width: 50%;
    text-align: center;
    margin: auto;
}

.dp{
    margin-top: 40px;
    margin-bottom: 0;
}