body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  margin: 80px auto 5px auto;
  font-family: "Baloo", serif;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  font-family: "Merienda", serif;
  font-size: 2rem;
  margin-top: 0;
  color: #66bfbf;
  font-weight: normal;
  line-height: 2;
}

h3 {
  font-family: "Varela Round", sans-serif;
  color: #11999e;
}

p {
  font-family: "Crimson Text", serif;
}

a {
  display: inline-block;
  color: #11999e;
  text-decoration: none;
  margin: 0 auto 10px;

}

a:hover{
  color: #EAF6F6;
}

hr {
  border-style: dotted;
  width: 4.5rem;
  border-width: 10px 0 0 0;
  margin: 50px auto;
  color: #00a8cc;
}

.top-container {
  background-color: #d7fffd;
  position: relative;
  padding-top: 10px;
  padding-bottom: 50px;
}

.middle-container {
  padding-bottom: 0px;
  margin-bottom: 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 30px;
}

.navbar{
  margin: 0;
  bottom: 100px;
  text-align: right;
  background-color: #66bfbf;
  padding: 10px 0 15px;
}

.nav-item{
  margin: auto 60px auto 0;
  font-size: 30px;
  color: #c2f0fc;
}



.seagull {
  position: absolute;
  right: 200px;
  top: 100px;  
  width: 100px;
}

.bottom-cloud {
  position: absolute;
  top: 350px;
  left: 200px;
}

.island-img {
  width: 20rem;
  position: relative;
  top: 40px;
  margin-bottom: 50px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 20px;
}

.skill-row2 {
  margin: 70px auto 110px auto;
  padding: 5px 0 5px 0;
}

.skill-row2:hover {
  background-color: #baf1a1;
}

.program-img {
  position: relative;
  float: left;
  width: 10rem;
  margin-right: 3rem;
  bottom: 0.7rem;
}

.test-img2 {
  float: right;
  width: 20.5%;
  margin-left: 1rem;
  margin-top: 0.5rem;

}

.footer-link {
  position: relative;
  top: 10px;
}

.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
}

.contact-me{
  margin-top: 2rem;
}

.btn {
  background: #3d94f6;
  background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: linear-gradient(to bottom, #3d94f6, #1e62d0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  border: solid #00a8cc 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #79bac1;
  /* background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6); */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}



#profile-pic {
  margin-top: 40px;
  width: 250px;
}
