hr {
  margin: 100px auto;
}

.description {
  margin-top: 0;
  line-height: 2;
}

.program-projects {
  padding: 25px 0 50px;
  background-color: azure;
}

.project-type-title {
  margin: 0 0 70px;
  font-size: 70px;
}

.project-title {
  margin-top: 20px;
  z-index: 1;
}

.design-projects-wrapper {
  background-color: #d8ebb5;
  padding: 20px 0 20px;
}

.design-projects {
  width: 50%;
  text-align: center;
  margin: auto;
}

.carousel-indicators li.program-indicator {
  background-color: #00a8cc;
}

.carousel-indicators.program-indicators .active {
  background-color: black;
}

.carousel-item {
  height: 650px;
  padding: 0 15%;
}

.project-pic {
  height: 50%;
}

.program-link{
   color:blue;
}

.program-link:hover {
  color: #0f4c81;
}

.design-item {
  height: 700px;
  padding: 0 15%;
}

.budget-buddy-pic {
  margin: 10px 0 30px;
  transform: rotate(20deg);
  z-index: 0;
}

.design-link{
  color: blue;
}

.design-link:hover{
   color: #0f4c81;
}


.design-pic {
  height: 50%;
}

.carousel-indicators {
  margin-bottom: 0;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media (max-width: 600px) {
  .design-pic {
    height: 40%;
  }

  .project-pic {
    height: 30%;
  }

   .project-pic-blog {
    height: 30%;
    width: 30%;
  }


  .project-type-title{
    font-size: 300%;
  }
}
